body {
    display: flex;
    flex-direction: column; 
    background-color: blue;
    color: white;
    font-family: 'RoundedFixedsys';
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    background-color: yellow;
    color: black;
    padding: 16px;
}

main {
    flex: 1;
}

footer {
    display: flex;
    background-color: black;
    padding: 16px;
}